<script>
import Navigation from './components/navigation.vue';

export default {
  components: {
    Navigation
  }
};
</script>

<template>
  <div class="app">
    <header>
      <h1>GitLab Figma Plugin</h1>
    </header>
    <router-view />
    <Navigation />
  </div>
</template>

<style scoped lange="scss">
.app {
  padding: 2rem;
}
</style>
