<script lang="ts">
import { GlNewButton } from '@gitlab/ui';

export default {
  components: {
    GlNewButton
  },
  computed: {
    isDestination() {
      return this.$route.name === 'destination';
    },
    buttonLabel() {
      parent.postMessage('');
      let label: string = `Look's good!`;

      if (this.isDestination) label = 'Upload';

      return label;
    }
  }
};
</script>

<template>
  <footer>
    <router-link v-if="isDestination" to="/">
      <GlNewButton variant="default">Back</GlNewButton>
    </router-link>
    <router-link to="/destination">
      <GlNewButton
        :class="isDestination && `nav-button-upload`"
        :variant="isDestination ? `success` : `info`"
        >{{ buttonLabel }}</GlNewButton
      >
    </router-link>
  </footer>
</template>

<style lang="scss">
.nav-button-upload {
  margin-left: 0.25rem;
}
</style>
