<template>
  <h2>Review your selection</h2>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {}
})
export default class Review extends Vue {}
</script>
